.door-container{
    display:grid;
    gap:1px;
    margin-top: 1em;
}
.door-0{
    grid-column-start:1;
    grid-column-end:2;
   
}

.door-1{
    grid-column-start:2;
    grid-column-end:3;

}

.door-2{
    grid-column-start:3;
    grid-column-end:4;
    
}
.door-0,.door-2,.door-1{
 position:static;
}


img{
    height:70%;
    padding-left: 2em;
    width : 60%;
}

h1{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 5em;
}
 h2{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 2.5em;
 }
 h3{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 1em;
 }

#row1{
    font-size: 2em;
    text-align : center;
}


.footer{
    margin-top: 3em;
}

.reasoning{
    font-family: 'Courier Prime', monospace;
    padding-top: 3em;
}

.sim-choice{
    margin-top:2em;
    text-align: center;
}
.sim-choice{
    margin-top:2em;
    text-align: center;
}

.iterations{
    margin-top:2em;
    text-align: center;
}

.mychart{
    margin-top:3em;
}

hr{
	background-color: #fff;
	border-top: 1em dotted #c9c1c1;
    border-bottom: none;
    border-left: none;
    width : 20%;
    margin-bottom:2em
    
}

.sim_mode{
    margin-top: 3em;
}

.sim-choice button{
    background-color:blanchedalmond;
    height: 3em;
    margin-left: 1em;
}

.iterations button{
    background-color:aqua;
    height : 2em;
    margin-left: 0.75em;
}

button:hover{
    background-color:dimgray;
}

.reference{
    height:50%;
    width:50%;
}

.loading {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: visible;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  
  /* Transparent Overlay */
  .loading:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
  }
  
  /* :not(:required) hides these rules from IE9 and below */
  .loading:not(:required) {
    /* hide "loading..." text */
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
  }
  
  .loading:not(:required):after {
    content: '';
    display: block;
    font-size: 10px;
    width: 1em;
    height: 1em;
    margin-top: -0.5em;
    -webkit-animation: spinner 1500ms infinite linear;
    -moz-animation: spinner 1500ms infinite linear;
    -ms-animation: spinner 1500ms infinite linear;
    -o-animation: spinner 1500ms infinite linear;
    animation: spinner 1500ms infinite linear;
    border-radius: 0.5em;
    -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
    box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
  }
  
  /* Animation */
  
  @-webkit-keyframes spinner {
    0% {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @-moz-keyframes spinner {
    0% {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @-o-keyframes spinner {
    0% {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes spinner {
    0% {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }

  
.user_choice{
    text-align: center;
    font-family: cursive;
    margin-bottom:3em;
    font-size : 3em;
}

.user_choice button{
    margin-left: 0.6em;
    font-size : 0.35em
}
.user_choice p{
    margin-bottom: 0em;
}
.user_choice buttons{
    margin-top:0.1em;
}
.results .won{
    text-align: center;
    font-family: cursive;
    margin-bottom:1em;
    font-size : 3em;
    color:rgb(7, 94, 75);

}

.results .lost{
    text-align: center;
    margin-bottom:1em;
    font-size : 3em;
    color:darkred;

}
.links button{
    text-align: center;
    margin-left: 0.6em;
    font-size : 2em;
}

.links {
    text-align : center;
    margin-bottom : 2em;
}

.row0{
    font-size: 1.2em;
    font-family: monospace;
    word-wrap: break-word;
    text-align:center;
    width: 50%;
    margin-left: 25%;
    margin-bottom: 1.6em;
    line-height: 1.5em;
}

#scores{
  width : 40%;
  margin-left:30%;
  font-size:1.2em;
  text-align:center;
  border:1px solid
}

.row0 strong{
  color:rgb(129, 31, 100)
}

